<%= form_for :session, url: login_c_path do |f| %>
  
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
    <%= f.submit :click%></p>
<% end %>